* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Hind', sans-serif;
    /*? rem: dựa vào font-size của thẻ html => hỗ trợ cho bảo trì trang web
    font-size, spacing(padding, margin)
    1rem = 18px 
    nếu ko khai báo font-size, mặc định 1rem = 16px*/
    font-size: 18px;
}


/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    /* 
    + z-index: auto của thẻ có position tạo sau sẽ > tạo trước đó
    + z-index có số > z-index: auto
    + z-index có số lớn đè lên > số nhỏ */
    z-index: 10;
    /* z-index: 9999999; chỉ dùng khi web có cấu trúc lớn, phức tạp */
    width: 100%;
}


header .navbar-brand {
    /* 2rem = 36px */
    font-size: 2rem;

}

/* 100 + 10 => 110 */
#portfolioNav .nav-link {
    font-size: 1rem;
    padding: 0 0.833rem;
    /* ! trước hover */
    color: white;

    transition: .5s;
}

#portfolioNav .nav-link::after {
    content: "";

    display: block;
    /* trước hover */
    width: 0;
    height: 5px;

    background-color: #35a22c;

    transition: .5s;
}

/* ! sau hover */
#portfolioNav .nav-item:hover .nav-link::after {
    width: 100%;
}

#portfolioNav .nav-item:hover .nav-link {
    color: #35a22c;
}

/* Thẻ li có class active thì after của nav-link luôn xuất hiện */

#portfolioNav .active .nav-link::after {
    width: 100%;
}

#portfolioNav .active .nav-link {
    color: #35a22c;
}

/* li.active : định nghĩa selector của 1 thẻ */
/* #portfolioNav li.active .nav-link::after {
    width: 100%;
} */


/*! Nằm dưới cùng của vùng nội dung chính header
+ dễ đọc code
+ bị dài code 
Desktop first: max-width (màn hình lớn trước -> nhỏ sau)
Mobile first: min-width (màn hình nhỏ trước -> lớn sau)*/



@media screen and (max-width:992px) {

    /* kích thước tối đa vùng màn hình <= 992px*/
    /* 1 + 10 + 10 => 21 */
    header .navbar .navbar-toggler {
        background-color: #35a22c;
    }

    #portfolioNav {
        background-color: white;
    }

    #portfolioNav .nav-link {
        color: #35a22c;
    }

    #portfolioNav .nav-item:hover {
        background-color: #35a22c;
    }

    #portfolioNav .nav-link::after {
        /* opacity: 0; thẻ trong suốt nhưng vẫn chiếm diện tích trên UI (dùng được với transition)*/
        /* ẩn hoàn toàn thẻ (cả diện tích thẻ) => không dùng với hiệu ứng ẩn hiện 
        không dùng được với transition */
        display: none;
    }

    #portfolioNav .nav-item:hover .nav-link {
        color: white;
    }
    



}

@media screen and (max-width: 576px) {
    header .navbar .navbar-toggler {
        background-color: hotpink;
    }
}






/* CAROUSEL */
/*! Gọi các thẻ img là con trực tiếp (cấp 1) của carousel-item */
#carouselPortMain .carousel-item>img {
    /* vh: thường dùng ở Main carousel */
    height: 100vh;
    object-fit: cover;
}

#carouselPortMain .carousel-caption img {
    /* hình có dạng hình vuông thì chỉ cần xét width */
    width: 140px;
    border-radius: 50%;
}

/* chỉnh đường gach indicators thì chuyển chữ nhật => hình vuông => tròn */

/*! căn giữa với position absolute cho mọi màn hình */
#carouselPortMain .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PROJECT */
.projects {
    padding: 100px 0;
}

/* AWARDS 
+ img: khi cần SEO (khối products)
+ background-image: ảnh trang trí không cần SEO (có thể dùng img nhưng chỉ nên dùng với ảnh kích thước nhỏ)
*/
.awards {
    padding: 70px 0;
    background-image: url(../img/memphis_3.png);
    /* nếu nền có size nhỏ hơn thẻ cha => tự động lặp lại ảnh để phủ hết thẻ cha */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left bottom;

}

.awards__left {
    padding: 45px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .3);
}




/*! Toàn bộ code responsive nằm dưới cùng của CSS
+ tiết kiệm code
+ khó đọc code */